
.sidebar-content {
  margin-top: 185px;

  .post-title {
    font-weight: 300;
    font-size: 39px;
    color: #8F9699;
  }
}

body #main .container article #sidebar {
  float: right;
  width: 411px;
  margin-left: 4em;
  text-align: center;

}

body #main .container article #sidebar {

//   z-index: 9999;
  position: relative;
  text-align: center;
  margin-top: 83px;

  .sidebar-bottom {
    text-align: center;
    padding: 40px;

    img {
      margin: 0 auto;
      width: 120px;
      height: 73px;
    }

    .heading {
      font-size: 18px;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 1em;
      padding-bottom: 1em;

      strong {
        color: $sherpa-brand-primary;
        font-weight: 600;
      }
    }
  }
  //
  //.grid {
  //  display: grid;
  //  grid-template-columns: 1fr 1fr 1fr;
  //  grid-template-rows: 107px 107px;
  //  grid-gap: 10px;
  //  width: 100%;
  //  margin: 0 auto;
  //  align-items: stretch;
  //  justify-items: stretch;
  //  align-content: center;
  //  justify-content: center;
  //  padding-right: 25px;
  //  padding-left: 25px;
  //
  //
  //
  //  a {
  //    background: red;
  //    display: flex;
  //    justify-content: center;
  //    align-items: center;
  //    flex: 1;
  //    z-index: 2;
  //    padding: 1em;
  //    color: $white;
  //    background-position: center center;
  //    position: relative;
  //
  //    &:before {
  //      background: rgba(0,0,0,0.5);
  //      content: '';
  //      width: 100%;
  //      height: 100%;
  //      position: absolute;
  //      z-index: -1;
  //    }
  //
  //
  //    &.column-sand {
  //      background-image: url('../img/sand.jpg');
  //    }
  //
  //    &.column-gravel {
  //      background-image: url('../img/gravel.jpg');
  //    }
  //
  //    &.column-landscape {
  //      background-image: url('../img/landscape.jpg');
  //    }
  //
  //    &.column-landscape {
  //      background-image: url('../img/landscape.jpg');
  //    }
  //
  //    &.column-concrete {
  //      background-image: url('../img/mixed-concrete.jpg');
  //    }
  //
  //    &.column-crushed {
  //      background-image: url('../img/crushed-aggregate.jpg');
  //    }
  //
  //    &.column-cement {
  //      background-image: url('../img/cement.jpg');
  //      width: 100%;
  //      margin-left: 0;
  //    }
  //
  //
  //    &:hover {
  //      text-decoration: none;
  //      background: $sherpa-brand-primary;
  //      background-image: none;
  //
  //      &:before {
  //        display: none;
  //      }
  //    }
  //  }
  //}

  .home-module-2 {
    width: 100%;
  }

  .bottom-sidebar {
    background: #F2F2F2;
    padding: 64px;

    .small {
      display: block;
    }
  }

  .bg {
    justify-content: flex-start; 
    align-items: flex-end; 
    text-align: center;
    flex-direction: column;

    .header {
      background: $sherpa-secondary-color;
      padding: 2em 0;
      width: 100%;

      h2 {
        margin-bottom: 0;
        color: $white;
      }
    }

    .container-half {
       flex-direction: column;
       display: flex;
       justify-content: flex-end;
       align-items: flex-end;
      padding: 0 0;
      width: 100%;
    }

    .header {
      font-family: 'Raleway', sans-serif;
      color: $white;
      margin: 0 0;

      .title {
        font-size: 18px;
        font-weight: 400;
      }

      .sub-title {
        font-size: 15px;
        display: block;
        font-weight: 400;
        margin-top: .5em;
        margin-bottom: 1em;

        span {
          color: $sherpa-brand-primary;
        }
      }
    }
  }

  p {
    color: #515151;
    font-size: 15px;
    text-align: center;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: $screen-md-min) {
  body #main .container article #sidebar {
    margin-bottom: 2em;
    @include dropshadow();
    padding-top: 0;
  }
}

@media screen and (max-width: $grid-float-breakpoint-max) {
  body #main .container article #sidebar {
    float: none;
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 2em;
    background: none;
    padding: 0;
    width: 100%;
  }

  body #main .container {
//     padding-left: 0;
//     padding-right: 0;

    .content {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

body #main .container article .content-contact #sidebar {
  margin-left: 0;
  @media screen and (max-width: $grid-float-breakpoint-max) {
    clear: both;
  }
}

body #main .container article #sidebar p.ctf-tweet-text, body #main .container article #sidebar p.cff-post-text {
  color: #9b9b9b;
  text-align: left;
}

body #main .container article #sidebar .green-box p {
  color: #fff;
}

@media screen and (max-width: $grid-float-breakpoint-max) {
  .cff-wrapper {
    display: none !important;
  }
}