.home-module-7 {
  h2 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1em;
    font-size: 32px;
    font-weight: 400;
  }

  p {
    font-weight: 300;

    &.blurb {
      font-size: 21px; 
      font-weight: 500;
      margin-bottom: 1em;
    }
  }

  .container-half, .container-half.right {
    padding-top: 0;
    padding-bottom: 0;
  }

  .bg-gray {
    background: #051A3F;
    color: $white;

    &.left {
      align-items: flex-end;
    }

    h2 {
      color: $white;
      font-family: 'Raleway', sans-serif;
    }

    .container-half {
      flex-direction: column;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-top: 140px;
      padding-bottom: 140px;
    }
  }

  @media screen and (min-width: $screen-md-min) {
    h2 {
      margin-top: 0;
      font-size: 32px;
      margin-bottom: 1.5em;
    }

    .bg-dark {
      h2 {
        line-height: 1.5;
      }
    }
  }

  .bg-supply {
    background: url('../img/supply-team.jpg') center 0 no-repeat;
    background-size: cover;

    .border-right {
      &::before {
        background: rgba(255, 255, 0, 0.44);
        width: 30%;
        height: 100%;
        display: block;
        content: '';
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 0;
      }
    }
  }

  .bg-scissors {
    background: url('../img/bg-comb.jpg') center 0 no-repeat;
    background-size: cover;
  }

  .bg-desk {
    background: $sherpa-dark-color;
    color: $white;

    .col-md-6 {
      padding-top: 10%;
      padding-bottom: 5%;
    }

    @media screen and (min-width: $screen-md-min) {
      background: url('../img/bg-desk-comb.jpg') right 0 no-repeat;
      background-size: cover;
    }
  }

  .bg-dark {
    background: rgba(41, 41, 44, 0.8);
    align-items: flex-end;
    justify-content: flex-start;

    .btn {
      background: rgba(255, 255, 255, 0.13);
      font-size: 10px;
    }


    .container-half {
      padding-top: 0;
      padding-bottom: 0;
      flex: 1;
      height: 100%;


      > div {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      a {
        margin-top: auto;
      }
    }
  }



  .col-md-6 {
    padding-top: 10%;
    padding-bottom: 10%;
    width: 50%;
  }

  .bg-comb-back {
    justify-content: flex-end;
    min-height: 870px;

    .container-half {
      > div {
        margin-top: auto;
      }

      padding-top: 0;
      padding-bottom: 0;
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {

    h2 {
      font-size: 20px;
      line-height: 1.5em;
      padding-left: 2em;
      padding-right: 2em;
    }

    .btn {
      padding: 1.5em 3.5em;
      font-size: 9px;
    }

    .bg-gray {
      text-align: center;
      padding-bottom: 20px;

      .flex-row {
        flex-direction: column;
      }

      .container-half {
        padding: 1em 1.5em;
      }

      h2 {
        font-size: 20px;
      }

      p {
        margin-bottom: 1em;
      }
    }

    .bg-desk {
      .col-md-6 {
        width: 100%;
        padding: 1em 2em 2em;
        text-align: center;

        &.bg-comb-back {
          background: url('../img/bg-desk-comb-mobile.jpg') center 0 no-repeat;
          background-size: cover;
          padding-top: 60%;

          h2 {
            font-weight: 400;
          }
        }
      }
    }

    .bg-women {
      width: 100%;
      background-size: cover;
      height: 248px;

      .border-right {
        &::before {
          background: rgba(255, 255, 0, 0.44);
          width: 35%;
          height: 100%;
          display: block;
          content: '';
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
          right: 0;
        }
      }
    }

    .bg-comb-back {
      min-height: 0;
    }
  }

  @media screen and (min-width: $screen-md-min) {
    .container-half {
      padding-top: 10%;
      padding-bottom: 10%;
    }

    .bg-dark.col-md-6 {
      padding-top: 9%;

      > div {
        padding-right: 20%;
      }
    }
  }

  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .bg-desk {
      background: url('../img/bg-desk-comb.jpg') -900px 0 no-repeat;
      background-size: cover;
    }

    .bg-women {
      .border-right {
        &::before {
          background: rgba(255, 255, 0, 0.44);
          width: 10%;
          height: 100%;
          display: block;
          content: '';
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
          right: 0;
        }
      }
    }
  }
}