.home-module-2 {
  color: #000;
  margin: 3em 0;

  ul {
    color: #7C7C7C;
    list-style: none;

    li {
      margin-bottom: .5em;
    }
  }

  //h2 {
  //  text-align: center;
  //  position: relative;
  //  width: 12em;
  //  @include raleway();
  //  margin: 0 auto;
  //  font-weight: 400;
  //
  //  &::before, &::after {
  //    background: $sherpa-brand-primary;
  //    content: '';
  //    width: 3px;
  //    display: block;
  //    height: 174px;
  //    position: absolute;
  //    top: 50%;
  //    transform: translateY(-50%);
  //  }
  //
  //  &::after {
  //    right: 0;
  //  }
  //}
}