.home-module-1 {
  background: #051A3F;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 3em 0;

  h1 {
    color: $white;
    font-size: 34px;
    margin-bottom: 1em;
    margin-top: 0;
    @include raleway();
    font-weight: 600;

    strong {
      color: $sherpa-brand-primary;
    }

    span {
      margin-top: .5em;
      display: block;
      font-size: 27px;
      font-weight: 300;
    }
  }

  h2 {
    color: $white;

  }
}