.home-module-5 {
  background: #051A3F;
  color: $white;
  text-align: center;
  padding: 118px 0;

  h2 {
    margin-bottom: 1em 0 0;
    font-size: 36px;
    padding: 0;
    margin-bottom: 1em;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    padding: 1em 20px 2em; 

    h2 {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 400;
    }

    p {
      font-size: 14px;
      margin-bottom: 1em;
    }
  }
}  