.home-module-6 {
  padding: 80px 0;
  text-align: center;

  h2 {
    @include raleway();
    font-weight: 300;
    color: #000;
    margin: 50px 0;
    font-size: 31px;
    

    strong {
      color: $sherpa-brand-primary;
      font-size: 36px;
    }
  }

  p {
    font-weight: 300;
    text-align: left;
  }

  p.blurb {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: .5em;
    margin-bottom: 1.5em;
    text-align: left;
  }

  p.blurb {
    span {
      color: $sherpa-brand-primary;
    }
  }

  .col-md-10 {
    margin: 0 auto;
  }

  a {
    font-weight: 600;
  }

  @media screen and (min-width: $screen-md-min) {
    h2 {
      line-height: 1.5;

      span {
        display: block;
      }

      strong {
        font-size: 34px;
      }
    }

    p.blurb {
      font-size: 27px;

      &.blurb-smaller {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    padding: 2em 0;
    text-align: center;

    img {
      height: 70px;
    }

    padding: 2.5em .5em;

    .btn {
      margin-bottom: 5em;
    }

    h2 {
      font-size: 18px;
      line-height: 1.25;
      margin-bottom: 0;
      margin-top: 1.25em; 
      padding-right: 20px;
      padding-left: 20px;
      margin-bottom: 1.5em;


      strong {
        font-size: 20px;
      }
    }

    p.blurb {
      font-size: 18px;
      line-height: 1.75;
      margin-bottom: 2.25em;
      margin-top: 2em;
      margin-bottom: 0;
      text-align: center;
      line-height: 1.5;

      &.blurb-smaller {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 500;
        margin-bottom: 2em;
      } 
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 1.5em;
      text-align: center;
    }


   }

}