.h2 {
  text-align: center;
  position: relative;
  width: 12em;
  @include raleway();
  margin: 0 auto;
  font-weight: 400;

  &::before, &::after {
    background: $sherpa-brand-primary;
    content: '';
    width: 2px;
    display: block;
    height: 174px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    right: 0;
  }

  @media screen and (min-width: $screen-md-min) {
    width: 12.2em;
    font-size: 34px;
    line-height: 1.25;
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    font-size: 18px !important;
    line-height: 1.5;
    
    &::before, &::after {
      height: 4.8em;
    }
  } 
}




#sidebar .grid {

  .column {
    color: $white;
    display: block;
  }
}

#sidebar .h2 {
  font-size: 18px;

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  &:before, &:after {
    height: 90px;
  }

  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body #main .container article #sidebar  {
  .grid {
    @include grid();
  }
}
